body {
    margin : 0px;
    overflow: hidden;
    font-family: sans-serif;
}


.searchBack {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s;

    opacity: 1;
}
.searchBack.fadeout {
    pointer-events: none;
    transition: opacity 0.5s;
    opacity: 0;
}
.searchBack > img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
    object-fit: contain;
}
.searchBack > p {
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.arjs-loader {
    position: fixed;
    height: 100vh;
    height: 100svh;
    width: 100%;
    top: 0;
    bottom: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arjs-loader  p {
    text-align: center;
    font-family: arial;
    font-size: 10px;
    color: white;
}
.arjs-loader div {
    text-align: center;
    font-family: arial;
    font-size: 1.25em;
    color: white;
    z-index: 5;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal > .container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 410px;
    margin: auto;
    width: 80%;
    margin: auto;
    padding: 40px 20px;
    background-color: white;
}
.container > img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.modal > .container > .close {
    position: absolute;
    right: 10px;
    top: 0px;
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.modal .container .close:hover,
.modal .container .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modal > .container > .contents > h2 {
    font-size: 18px;
}
.modal > .container > .contents > p {
    font-size: 14px;
}
.modal > .container > .contents > button {
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    background-color: #000;
    color: white;
}

